Options +Indexes
AddDescription "First post - purpose/content" "first-post-purposecontent.html" #Tue, 27 Jul 2021 13:53:04 +0200
AddDescription "Binding capslock to escape on modern linux systems and setting layout" "binding-capslock-to-escape-on-modern-linux-systems-and-setting-layout.html" #Tue, 27 Jul 2021 14:01:16 +0200
AddDescription "Let go of mistakes" "let-go-of-mistakes.html" #Tue, 27 Jul 2021 14:03:14 +0200
